body {
  background-color: #282a30;
}
.white-text {
  color: rgb(255, 248, 248);
  margin-top: 0px;
}

.hr {
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 0px;
}

.team {
  color: rgb(234, 165, 74);
}
.meet {
  font-family: Arial Rounded MT Bold;
  font-size: 100px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ddd9d9;
}
.head-contain {
  text-align: center;
  margin-top: 5px;
}
.main-contain {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  margin-left: 150px;
  margin-top: 5px;
}
/* .main {
  display: flex;
  justify-content: center;
} */
 .overview{
  flex: 0 0 50%
 }
.up-banner {
  margin: 0  auto;
  max-width: 350px;
  margin-top: 30px;
}
.banner-img {
  
  max-width: 350px;
  height: 400px;
}
.down-banner {
  background-color: rgb(226, 222, 222);
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
  border-radius: 20px;
}
.margin-d-15 {
  margin-bottom: 5px;
}
a {
  color: black;
}
.icons {
  font-size: 30px;
}
.fixed-image {
  width: 400px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.font-size {
  font-size: 1.2em;
}
.logo-img {
  margin-bottom: 10px;
  text-align: left;
  display: inline;
  padding-bottom: 5px;
  width: 950px;
  /* margin-top: 20px; */
}
h3 {
  margin-bottom: 0;
}
p {
  margin-top: 0;
}

.bita {
  margin-right: 200px;
}

.helia {
  margin-left: 200px;
}

.footer {
  background-color: #33363f;
  height: 300px;
  width: 100%;
  margin-top: 100px;
}

.hr3 {
  margin: 350px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer-img {
  width: 230px;
  margin-top: 15px;
}
.footer-team {
  text-align: center;
}
.footer-text {
  margin-top: 75px;
  font-family: Arial Rounded MT Bold;
  font-weight: 800;
  font-size: 70px;
  margin-bottom: 10px;
  color: rgb(234, 165, 74);
}
.banner-img:hover{
  transform: scale(1.2);
  transition: .7s;
}
h2{
  padding-top: 10px;
  color: darkred
}